[user]
        name = {{ full_name }}
        email = {{ git_email }}
{% if git_signing_key %}
        signingkey = {{ git_signing_key }}
{% endif %}
{% if ansible_os_family == 'Darwin' %}
[credential]
        helper = osxkeychain
{% endif %}
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes_global
        editor = cursor --wait
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[pull]
        rebase = true
[push]
        autoSetupRemote = false
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[github]
        user = {{ git_user }}
{% if git_signing_key %}
[commit]
        gpgsign = true
{% endif %}
